<h1>Posts#index</h1>

<table style="width:50%">
  <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.text, post_path(post) %> </td>
        <% if post.user_id == nil %>
         <td>No user added </td>
        <% else %>
            #TODO
        <% end%>

        <td> <%= link_to 'Edit', edit_post_path(post) %></td>
      </tr>
  <%end%>
  <td> <%= link_to 'New posts' , new_post_path %></td>

</table>

